body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9e9e9;
}
/* Página Home*/

.hd_home{
    width: 92%;
    height: 84px;
    margin: 22px auto 70px;
    position: relative;
    z-index: 2;
    background: #f8f9fa;
    
    
    border-radius: 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 5px 0;
}
.logo_home img{
    width: 250px;
}
.nav_home a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}
.ativado{
    font-weight: bolder;
}
.mn_home{
    max-width: 1300px;
    border-radius: 50px 50px 0 0;
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.356);

}
.hm_flex{
    display: flex;
    padding: 30px;
}
.hm_card{
    background-color: white;
    width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);

}
.hm_status{
    background-color: white;
    width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);
}
.icon_trem{
    width: 40px;
}
/* Página de apresentação*/

.escrita_inicial{

}

.trem{
    width: 540px;
    height: 500px;
    border-radius: 20px;
}

.mn_apresentacao{
    width: min(100%, 1800px);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    z-index: 2;
    position: relative;
}
.card_apresentacao{
    max-width: 1535px;
    min-height: 500px;

    border-radius: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
   
    padding: 35px 35px;

    font-family: Arial, sans-serif;
    display: flex;
}

.card_apresentacao h1 {
    margin: 0;
    font-size: xxx-large;
    font-weight: 400;
}

.card_apresentacao p {
    margin: 0 auto;

    max-width: 370px;

    color: #171717;

    font-size: 16px;
    line-height: 1.35;

    text-align: justify;
}


.linha {
    width: 160px;
    height: 4px;

    background-color: #16b39b;

    margin: 4px auto 34px;

    border-radius: 2px;
}
.hd_apresentacao{
    position: relative;
    width: 80%;
    height: 105px;
    margin: 7px auto;
    background-color: #f8f9fa;
    border: 6px solid #e3e7e8;
    
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.img_apresentacao{
    width: 230px;
    display: flex;
    align-items: center;

}
.nav_apresentacao{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 175px;
    color: black;
}
.nav_apresentacao a{
    position: relative;
    text-decoration: none;
    color: #111;
    font-size: 24px;
    padding: 5px 30px;
}
.nav_apresentacao a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #19aa93;
    
}
.fixa{
    bottom: 0;
    left: 0;
    width: 40%;
    position: absolute;
    z-index: 1;
}

.fixa2{
    top: 0;
    right: 0;
    width: 40%;
    rotate: 180deg;
    position: absolute;
    z-index: 1;
}

.ft_apresentacao{
    background-color: #2ef8ff;
    padding: 5px;
    color: white;
    font-size: large;
    text-align: center;
}

/*Página de login*/

.login-header {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.login-header img {
    width: 290px;
    height: auto;
}

.login-pagina {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-formulario {
    width: 350px;
    min-height: 300px;
    background-color: #f8f9fa;
    border: 6px solid #e3e7e8;
    border-radius: 15px;
    padding: 15px 52px 18px;
    position: relative;
    z-index: 2;
    height: 500px;
}

.login-formulario h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    margin: 0 0 20px 0;
}

.login-campo {
    width: 100%;
    margin-bottom: 14px;
}

.login-campo label {
    display: block;
    font-size: 16px;
    color: #000;
    margin-bottom: 4px;
}

.login-campo input {
        width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1.5px solid #e40613;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    color: #222;
    background-color: #ffffff;
    outline: none;
    transition: all 0.2s ease;
}

.login-campo input:focus {
    border-color: #ff6800;
}

.login-campo input::placeholder {
    color: #555;
}

.login-formulario button {
    grid-column: 1 / 3;
    justify-self: center;
    width: 290px;
    height: 43px;
    margin-top: 5px;
    border: none;
    background-color: #c23232;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-formulario button:hover {
    background-color: #a12a2a;
    width: 320px;
    transition: width 0.5s ease;
}

.login-logo {
    display: block;
    margin: 0 auto 20px;
    width: 260px;
    max-width: 90%;
    height: 110px;
}

.login-logo img {
    display: block;
    width: 102%;
    height: auto;
    object-fit: contain;
}

/* Página de cadastro */

header {
    height: 120px;

}
.container_titulo {
    width: 250px;
    border-radius: 8px 8px 0 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_titulo img {
    display: block;
    margin: 0 auto;
    width: 205px;
    height: auto;
    background-color: #f8f9fa;
}

.cadastro-pagina {
    width: 50%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.cadastro-formulario {
    width: 840px;
    min-height: 418px;
    background-color: #f8f9fa;
    border-radius: 0 8px 8px 8px;
    padding: 25px 0 18px;
    
    z-index: 2;
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.cadastro-formulario h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin: 0 0 22px 0;
}

.grid {
    width: 722px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
    row-gap: 13px;
}

/* Organização dos campos */

.campo-nome {
    grid-column: 1;
    grid-row: 1;
}

.campo-email {
    grid-column: 1;
    grid-row: 2;
}

.campo-cpf {
    grid-column: 1;
    grid-row: 3;
}

.campo-data {
    grid-column: 1;
    grid-row: 4;
}

.campo-cep {
    grid-column: 2;
    grid-row: 1;
}

.campo-endereco {
    grid-column: 2;
    grid-row: 2;
}

.campo-cidade {
    grid-column: 2;
    grid-row: 3;
}

.campo-senha {
    grid-column: 2;
    grid-row: 4;
}

.cadastro-campo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cadastro-campo label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
    font-weight: 500;
}

.cadastro-campo input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1.5px solid #e40613;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    color: #222;
    background-color: #ffffff;
    outline: none;
    transition: all 0.2s ease;
}

.cadastro-campo input::placeholder {
    color: #444444;
    font-size: 16px;
}

.cadastro-campo input:focus {
    border-color: #e26912;
    box-shadow: 0 0 0 2px rgba(247, 104, 28, 0.15);
}

.cadastro-formulario button {
    grid-column: 1 / 3;
    justify-self: center;
    width: 290px;
    height: 43px;
    margin-top: 5px;
    border: none;
    background-color: #c23232;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.cadastro-formulario button:hover {
    background-color: #a12a2a;
    width: 350px;
    transition: width 0.5s ease;
}

.nav-login {

    overflow-clip-margin: content-box;
    overflow: clip;

}

.login-formulario button {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    width: 290px;
    height: 43px;
    margin-top: 5px;
    border: none;
    background-color: #c23232;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.flex{
    display: flex;
}

.padding{
    width: 981px;
}

.tabela {
  width: 1460px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 50px;
  border-radius: 20px;
}

.tabela th, 
.tabela td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
}

.tabela tr {
  background-color: #d30e0e;
  color: white;
  border-radius: 50px 50px 0 0;
}

.tb_id {
  border-radius: 20px 0 0 0;
}

.tb_acoes {
  border-radius: 0 20px 0 0;
}

.escrita_sensor{
    height: 50px;
}

.espaco{
    width: 20px;
}

.card_sensores{
    width: 1535px;
    height: 500px;
    border-radius: 20px;
    background-color: #f8f9fa;
    padding: 35px 35px;
    font-family: Arial, sans-serif;
    display: flex;
}
/*Adm_usuarios*/

#btnAbrir {
    margin: 50px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background: #10b981;
    color: white;
    cursor: pointer;
}

/* Fundo escuro atrás do popup */

.overlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);

    display: none;

    justify-content: center;
    align-items: center;
}

/* Popup */

.popup {
    width: 760px;
    max-width: 90%;

    background: #f8fafc;

    border-radius: 28px;

    padding: 25px 50px 30px;

    text-align: center;
}

/* Ícone */

.icone {
    font-size: 55px;
    margin-bottom: 5px;
}

/* Título */

.popup h1 {
    margin: 0 0 10px;

    font-size: 36px;
}

/* Grid dos campos */

.form-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 18px 110px;

    text-align: left;
}

/* Campo */

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 5px;

    font-size: 16px;
}

.campo input {
    width: 100%;

    padding: 10px;

    border: 1.5px solid #ff7a18;

    border-radius: 25px;

    font-size: 17px;

    outline: none;
}

.campo input:focus {
    border-color: #10b981;
}

/* Botão adicionar */

.btnAdicionar {
    margin-top: 18px;

    width: 230px;

    padding: 13px;

    border: none;

    border-radius: 30px;

    background: #10b981;

    color: white;

    font-size: 18px;

    cursor: pointer;
}

.btnAdicionar:hover {
    background: #0ea371;
}