body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c2dfe0;
}

/* Página de apresentação*/
.mn_apresentacao{
    width: min(100%, 1200px);
    
    display: flex;
    margin: 0 auto;
    
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.card_apresentacao{
    width: 500px;
    min-height: 280px;

    background-color: #f8f9fa;

    border: 10px solid #d9d9d9;
    border-radius: 25px;

    padding: 20px 35px;

    box-sizing: border-box;

    text-align: center;

    font-family: Arial, sans-serif;
}
.card_apresentacao h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
}

.card_apresentacao h2 {
    margin: 0 0 25px;

    color: #ff6b00;

    font-size: 16px;
    font-weight: bold;
}

.card_apresentacao p {
    margin: 0 auto;

    max-width: 370px;

    color: #171717;

    font-size: 16px;
    line-height: 1.35;

    text-align: justify;
}


.linha {
    width: 160px;
    height: 4px;

    background-color: #16b39b;

    margin: 4px auto 34px;

    border-radius: 2px;
}
.hd_apresentacao{
    position: relative;
    width: 80%;
    height: 105px;
    margin: 7px auto;
    background-color: #f8f9fa;
    border: 6px solid #e3e7e8;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.img_apresentacao{
    width: 230px;
    display: flex;
    align-items: center;

}
.nav_apresentacao{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 175px;
    color: black;
}
.nav_apresentacao a{
    position: relative;
    text-decoration: none;
    color: #111;
    font-size: 24px;
    padding: 5px 30px;
}
.nav_apresentacao a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #19aa93;
    border-radius: 5px;
}
.fixa{
    position: fixed;
    width: 900px;
    bottom: 0px;
}
.ft_apresentacao{
    background-color: #7A9E9F;
    padding: 5px;
    color: white;
    font-size: large;
    text-align: center;
}

/*Página de login*/

.login-header {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.login-header img {
    width: 290px;
    height: auto;
}

.login-pagina {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-formulario {
    width: 350px;
    min-height: 300px;
    background-color: #f8f9fa;
    border: 6px solid #e3e7e8;
    border-radius: 30px;
    padding: 15px 52px 18px;
    position: relative;
    z-index: 2;
}

.login-formulario h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    margin: 0 0 20px 0;
}

.login-campo {
    width: 100%;
    margin-bottom: 14px;
}

.login-campo label {
    display: block;
    font-size: 16px;
    color: #000;
    margin-bottom: 4px;
}

.login-campo input {
    width: 100%;
    height: 38px;
    padding: 0 10px;
    border: 1px solid #ff805f;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    outline: none;
}

.login-campo input:focus {
    border-color: #ff6800;
}

.login-campo input::placeholder {
    color: #555;
}

.login-formulario button {
    width: 100%;
    height: 49px;
    margin-top: 5px;
    border: none;
    border-radius: 25px;
    background-color: #0b805d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-formulario button:hover {
    background-color: #096f51;
}

/*Página de cadastro*/

.cadastro-header {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.cadastro-header img {
    width: 290px;
    height: auto;
}

.cadastro-pagina {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cadastro-formulario {
    width: 350px;
    min-height: 300px;
    background-color: #f8f9fa;
    border: 6px solid #e3e7e8;
    border-radius: 30px;
    padding: 15px 52px 18px;
    position: relative;
    z-index: 2;
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.1);
}

.cadastro-formulario h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    margin: 0 0 20px 0;
}


.cadastro-formulario button {
    width: 100%;
    height: 49px;
    margin-top: 5px;
    border: none;
    border-radius: 25px;
    background-color: #0b805d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.cadastro-formulario button:hover {
    background-color: #096f51;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Força exatamente 2 colunas iguais */
    gap: 15px 30px; /* Espaço vertical de 15px e horizontal de 30px entre os campos */
    width: 100%;
}

        .cadastro-campo {
            display: flex;
            
        }

        .cadastro-campo label {
            font-size: 14px;
            color: #333333;
            margin-bottom: 5px;
            font-weight: 500;
        }

        .cadastro-campo input {
            width: 100%;
            height: 42px;
            border: 1.5px solid #f88c42; /* Borda Laranja pastel */
            border-radius: 21px;
            padding: 0 18px;
            font-size: 14.5px;
            color: #222;
            background-color: #ffffff;
            outline: none;
            transition: all 0.2s ease;
        }

        .cadastro-campo input::placeholder {
            color: #444444;
            font-size: 14px;
        }

        .cadastro-campo input:focus {
            border-color: #e26912;
            box-shadow: 0 0 0 2px rgba(247, 104, 28, 0.15);
        }

.cadastro-formulario, .card {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}

